################################################################################
# Icarus Server Manager (web)
################################################################################

/.vs
/data/
/web/
/config.json
node_modules/
*.log
.DS_Store
__pycache__/
*.pyc
